@font-face {
    font-family: wobbly;
    src: url(fonts/Mase-vnv19.otf);
}
@font-face {
    font-family: stamp;
    src: url(fonts/LoficottagefreeRegular-BW4O8.otf);
}
body {
    background-color: rgb(249, 246, 238);
    font-family: 'EB Garamond';
    font-size: 1.1em;
    margin: 0;
}
a {
	text-decoration:none;
}
#header {
    position: relative;
    margin: 0;
    width: 100%;
    height: 4rem;
    padding-top: 2rem;
}
#home-button {
    float: left;
    margin-left: 3rem;
    font-size: 1.8rem;
    font-family: wobbly;
}
#left-tomato {
    color: tomato;
}
#right-tomato {
    color: rgb(254, 125, 33);
}
#nav-bar {
    float: right;
    margin-right: 3rem;
    font-size: 1.1rem;
}
#nav-bar a {
    margin: 0.5rem 1rem;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 500;
    color: #625d55;
}
#nav-bar a:hover {
    color: rgb(254, 125, 33);
}
#recipe-body {
    margin: 0 auto 3rem;
    width: min(60%, 800px);
    padding: 30px;
}
#recipe-title {
    display: block;
    margin: 0 auto 3rem;
    max-width: 100%;
    min-width: fit-content;
    font-size: 2rem;
    font-style: oblique;
    font-weight: 700;
    padding: 1rem;
}
.section-label {
    font-family: Poppins;
    margin: 0 0 0.3rem 0.5rem;;
    font-size: 1rem;
    color: #625d55;
    font-weight: 600;
}
#recipe-description {
    min-height: 50px;
    margin-bottom: 4rem;
}
#recipe-process {
    min-height: 100px;
}
.text-entry {
    border: 2px solid #9bba9b;
    border-radius: 5px;
    background-color: #fffdf8;
}
.text-entry:focus-within {
    outline: 5px solid #9bba9b;
}
.user-input {
    margin: 0 auto;
    padding: 5px 20px;
}
.recipe-paragraph:focus{
    outline: none;
}
input, button {
    font-family: inherit;
    text-align: center;
}
.add-ingred-field {
    display: inline-block;
    margin: 10px;
}
.add-ingred-field label {
    display: block;
    text-align: center;
}
.ingredient-panel {
    width: fit-content;
    padding: 10px 20px 10px 10px;
    border-radius: 10px;
    background-color: #f8edae;
    position: relative;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 600;
    color: #625d55;
}
.ingredient-panel input {
    border: 1px solid #829f82;
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px;
}
.ingredient-panel button {
    display: block;
    text-align: center;
    margin: 10px auto;
    padding: 5px 15px;
    background-color: #fffdf8;
    font-family: Verdana;
    border-radius: 10px;
    border: 3px solid #829f82;
    cursor: pointer;
    font-weight: bold;
    color: #8d816c;
}
#add-ingred-quantity {
    width: 5rem;
}
#add-ingred-unit {
    width: 7rem;
}
.x-page {
    right: 10px;
    top: 10px;
    position: absolute;
    cursor: pointer;
}
.x-page:hover {
    color: #829f82;
}
.ingredient-text {
    background-color: #f8edae;
    border-radius: 10px;
    padding: 5px 15px;
    margin-left: 2rem;
    font-weight: 700;
    cursor: pointer;
}
#add-ingredient-panel {
    display: none;
}
#create-ingredient-panel {
    border: 1px solid black;
}
#shift-note {
    float: right;
    font-size: 0.8rem;
    font-family: Poppins;
    color: #a8a297;
    position: relative;
    margin-top: 5px;
    margin-right: 1rem;

}
