/* Styling for recipe page */

#recipe-body {
    margin: 3rem auto 4rem;
}
#recipe-title {
    font-size: 2.7rem;
    padding: 2rem 0;
    margin: 0 auto;
}
#recipe-metadata {
    display: flex;
    margin: 0 auto 2rem;
    width: fit-content;
}
.metadata-item {
    margin: 0;
    padding: 0 2rem;
}
#recipe-yield {
    text-align: right;
}
.recipe-section {
    margin: 2.5rem auto;
}
#recipe-ingredients {
    display: none;
}
.ingredient-text {
    font-weight: 1000;
    font-size: 1.15rem;
}
.orphan {
    margin-left: 2rem;
}